body {
    /*background-image: linear-gradient(to bottom right, #FCF1FF, #FFFFFF);*/
    margin: 0;
    font-family: 'Walkway Black';
    background-color: #DDDDDD;
    width:100%;
    height:100%;
}
.hero {    
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: whit4e;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../sadakc2.github.io/pictures/SPstanding.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    color: white;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 100px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    font-family: 'Walkway Black';
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* button background */
    background-color: whitesmoke;
}
.hero2 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../sadakc2.github.io/pictures/crisscross2SP.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero2 h1 {
    /* Text styles */
    font-size: 5em;
    color: white;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero2 .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* button background */
    background-color: whitesmoke
}
.hero3 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../sadakc2.github.io/pictures/banfflandscape1 (1).JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero3 h1 {
    /* Text styles */
    font-size: 5em;
    color: white;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero3 .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* button background */
    background-color: whitesmoke
}
.hero4 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../sadakc2.github.io/pictures/b&wbenchSP.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero4 h1 {
    /* Text styles */
    font-size: 5em;
    color: white;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero4 .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* button background */
    background-color: whitesmoke
}
nav ul, footer ul {
    font-family:'Arial';
    font-size: 1.3em;
    color: white;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: white;
    font-family:'Walkway Black';
    text-align: center;
}
h2 {
    font-size: 2em;
    color: black;
    font-family:'Walkway Black';
    text-align: left;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
