html,body {
    /*background-image: linear-gradient(to bottom right, #FCF1FF, #FFFFFF);*/
    margin: 0;
    font-family: 'Walkway Black';
    background-color: #DDDDDD;
    /*width:100%;*/
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    /*width: 200px; You can set the dimensions to whatever you want 
    height: 200px;*/
    object-fit: contain;
}

.center{
    margin: 0 auto;
    width: 100pxk
}

.hero {    
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../sadakc2.github.io/pictures/SPstanding.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    color: white;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 100px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    font-family: 'Walkway Black';
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* button background */
    background-color: whitesmoke;
}
nav ul, footer ul {
    font-family:'Arial';
    font-size: 1.3em;
    color: white;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
.card-container {
  background-color: #DDDDDD;
 width: 90%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center center;
}

.card-container ul {
  text-align: center;
  margin: 0;
  font-family: 'Walkway Black';
}

.card-container li {
  list-style-type: none;
  padding: .05em .05em .05em .05em;
  text-align: center center;
  font-family: 'Walkway Black';
}

.card {
  transition: 0.2s;
  overflow: hidden;
  /*width: 100%;*/
  word-wrap: break-word;
  font-family: 'Walkway Black';
}

.card-image {
  box-shadow: 1 1 #DDDDDD;
  transition: .3s;
  background-color: #DDDDDD;
  margin: 0;
  text-align: center;
 /* width:100%;
  height:auto;*/

}

.card-image:hover {
  transform: scale(1.25, 1.25);
  transform-origin: 50% 50%;
  box-shadow: 2 2 whitesmoke;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

h1 {
    font-size: 3em;
    color: white;
    font-family:'Walkway Black';
    text-align: center;
}
h2 {
    font-size: 2em;
    color: black;
    font-family:'Walkway Black';
    text-align: left;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Walkway Black';
}
footer {
    border-top: 1px solid #d5d5d5;
    position: fixed;
    font-size: .8em;
    font-family: 'Walkway Black';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 5em;
    font-family: 'Walkway Black';
}

ul.posts li {
    list-style: none;
    font-size: 5em;
    font-family: 'Walkway Black';
}
