body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: #2F4F4F;
    
    /* Background styles */
    background-image: url('../sadakc2.github.io/pictures/banffsnow.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    color: #2F4F4F;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid #2F4F4F;
    border-radius: 20px;
}
.hero2 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: #2F4F4F;
    
    /* Background styles */
    background-image: url('../sadakc2.github.io/pictures/coldpic.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero2 h1 {
    /* Text styles */
    font-size: 5em;
    color: #2F4F4F;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero2 .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid #2F4F4F;
    border-radius: 20px;
}
.hero3 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: #2F4F4F;
    
    /* Background styles */
    background-image: url('../sadakc2.github.io/pictures/coldpic.JPG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero3 h1 {
    /* Text styles */
    font-size: 5em;
    color: #2F4F4F;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero3 .btn {
    /* Positioning and sizing */
    display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: underline;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid #2F4F4F;
    border-radius: 20px;
}
nav ul, footer ul {
    font-family:'Arial';
    font-size: 1.3em;
    color: #2F4F4F;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
.img-zoom {
  height: 100%;
  width:100;
  display: inline;
  position: relative;
  overflow: hidden;
}
.img-zoom img {
  display: block;
  width: 100%;
  transition: 0.4s ease;
  transform-origin: 50% 50%; /* center zoom */
}
.img-zoom img:hover {
  transform: scale(1.21);
}
.inline {
   display:inline-block;
   margin-right:5px;
}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #2F4F4F;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #2F4F4F;
    font-family:'Arial';
    text-align: center;
}
h2 {
    font-size: 2em;
    color: #2F4F4F;
    font-family:'Arial';
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #2F4F4F;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
